
/*
 * Component: Dropdown menus
 * -------------------------
 */
/*Dropdowns in general*/
.dropdown-menu {
  box-shadow: none;
  border-color: #eee;
}
.dropdown-menu > li > a {
  color: #777;
}
.dropdown-menu > li > a > .glyphicon,
.dropdown-menu > li > a > .fa,
.dropdown-menu > li > a > .ion {
  margin-right: 10px;
}
.dropdown-menu > li > a:hover {
  background-color: #e1e3e9;
  color: #333;
}
.dropdown-menu > .divider {
  background-color: #eee;
}
.navbar-nav > .navbar-menu > .dropdown-menu {
  width: 280px;
  padding: 0 0 0 0;
  margin: 0;
  top: 100%;
}
.navbar-nav > .navbar-menu > .dropdown-menu > li {
  position: relative;
}
.navbar-nav > .navbar-menu > .dropdown-menu > li.header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #ffffff;
  padding: 7px 10px;
  border-bottom: 1px solid #f4f4f4;
  color: #444444;
  font-size: 14px;
}
.navbar-nav > .navbar-menu > .dropdown-menu > li.footer > a,
.navbar-nav > .navbar-menu > .dropdown-menu > li.footer > div {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 12px;
  background-color: #fff;
  padding: 7px 10px;
  border-bottom: 1px solid #eeeeee;
  color: #444 !important;
  text-align: center;
}
@media (max-width: 991px) {
  .navbar-nav > .navbar-menu > .dropdown-menu > li.footer > a,
  .navbar-nav > .navbar-menu > .dropdown-menu > li.footer > div {
    background: #fff !important;
    color: #444 !important;
  }
}
.navbar-nav > .navbar-menu > .dropdown-menu > li.footer > a:hover,
.navbar-nav > .navbar-menu > .dropdown-menu > li.footer > div:hover {
  text-decoration: none;
  font-weight: normal;
}
.navbar-nav > .navbar-menu > .dropdown-menu > li .menu {
  max-height: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
}
.navbar-nav > .navbar-menu > .dropdown-menu > li .menu > li > a,
.navbar-nav > .navbar-menu > .dropdown-menu > li .menu > li > div {
  display: block;
  white-space: nowrap;
  /* Prevent text from breaking */
  border-bottom: 1px solid #f4f4f4;
}
.navbar-nav > .navbar-menu > .dropdown-menu > li .menu > li > a:hover,
.navbar-nav > .navbar-menu > .dropdown-menu > li .menu > li > div:hover {
  background: #f4f4f4;
  text-decoration: none;
}