.message-item > a {
  margin: 0;
  padding: 10px 10px;
}
.message-item > a > div > img {
  margin: auto 10px auto auto;
  width: 40px;
  height: 40px;
}
.message-item > a > h4 {
  padding: 0;
  margin: 0 0 0 45px;
  color: #444444;
  font-size: 15px;
  position: relative;
}
.message-item > a > h4 > small {
  color: #999999;
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 0;
}
.message-item > a > p {
  margin: 0 0 0 45px;
  font-size: 12px;
  color: #888888;
}
.message-item > a:before,
.message-item > a:after {
  content: " ";
  display: table;
}
.message-item > a:after {
  clear: both;
}