@font-face {
  font-family: "Glyphicons Halflings";
  src: url("../../fonts/glyphicons-halflings-regular.eot");
  src: url("../../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"),
   url("../../fonts/glyphicons-halflings-regular.woff2") format("woff2"),
    url("../../fonts/glyphicons-halflings-regular.woff") format("woff"),
     url("../../fonts/glyphicons-halflings-regular.ttf") format("truetype"),
      url("../../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
.datatable-controlled-elems .pagination {
  text-align: right;
  float: right!important;
  margin: 0px;
}

.select-info, .select-item{
  margin-left: 0.5em;
}
